Variables datatypes and operators

In [5]:
# variables datatypes and operators
my_name="Pranav's"
print(my_name)

Pranav's

In [8]:
a=int(False)
print(a)

0

In [9]:
a=123
print(bool(a))

True

In [13]:
a='0123'
a=int(a)
a=bool(a)
print(a)

True

In [16]:
a='abc'
# a=int(a) error
print(a)

abc

In [19]:
a=None
print(a)

None

In [22]:
print(1!=2)

True

In [24]:
b=True
print(int(b))

1

Comparision

In [26]:
a=True
b=False
print(a!=b)

True

In [28]:
a=True
print(a==0)

False

In [30]:
1<2 and 2<3
print(a)

True

In [32]:
1<2<3

True

In [ ]:
x=2
y=5
x/y

0

String

In [37]:
lang1='python'
lang2="python"
lang3='''python'''
lang4="""python"""
lang1==lang2==lang3==lang4

True

In [39]:
my_text='''aaaa
aaaa
bbbb
cccc
'''
print(my_text)

aaaa
aaaa
bbbb
cccc

In [41]:
a='5'
b='7'
print(a+b)

57

In [44]:
a='5'
b=2
print(a*b)

55

Write a function that will add two numbers and returns the value

In [48]:
def my_add_function(a, b):
    return a + b

a=int(input("Enter first number : "))
b=int(input("Enter second number : "))
print(my_add_function(a,b))

9

In [51]:
a='Pranav'
for i in range(len(a)):
    print(a[i])

P
r
a
n
a
v

In [53]:
a='Pranav'
id(a)

2419102507984

In [61]:
a='Pranav'
id(a)
a=a+'008'
print(a)
id(a)

Pranav008

2419109137392

In [68]:
text='My name is Pranav'
text[0:5:2] #stop index is excluded

'M a'

In [71]:
a=list(range(10))
a[::3]

[0, 3, 6, 9]

In [73]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [79]:
a='Pranav'
a.upper()

'PRANAV'

In [ ]:
a="amit990"
a.replace('9','1',1) #last parameter is for no of occurance
print(a)

'amit190'

Control Flow

In [ ]:
a=2
if a<2:
    print("a is less than 2")
elif a>2:
    print("a is greater than 2")
else:
    print("a is equal to 2")

a is equal to 2

Write a function that divides two numbers

In [87]:
def my_divide(a,b):
    if(b!=0):
        return a/b
    else:
        return None
    
my_divide(10, 3)

3.3333333333333335