amit sir's email address : amitkp@wilp.bits-pilani.ac.in

Nested loops

In [2]:
for i in [1,2,3]:
    for j in "ABC":
        print(i,j)

1 A
1 B
1 C
2 A
2 B
2 C
3 A
3 B
3 C

numbers = [1,2,3,4,5],
Write a program to calculate the square of each element and store it in a list

In [12]:
numbers=[1,2,3,4,5]
result=[0]*len(numbers)
for i in range(len(numbers)):
    result[i]=numbers[i]*numbers[i]
    
print(result)

# for i in numbers:
#     print(i**2)

[1, 4, 9, 16, 25]

Tuple, string, list, dict, set are data structure available in python inbuilt
tuple and string are immutable data structure, we can change it after defining it.

In [ ]:
a=[1,2,3,4]
type(a)
# dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [19]:
a=(1,2,3)
print(id(a))
# as tuple is immutable so when we are converting it into list, new memory location will be 
# assigned
a=list(a)
print(id(a))

2565449343808
2565449357504

In [ ]:
b=[1,2,3,4,5]
print(id(b))
print(type(b))
b.append(6)
print(id(b))
print(b)
# list provides lot of methods to use

c=(1,2,3,4,5)
print(type(c))

2565449557568
<class 'list'>
2565449557568
[1, 2, 3, 4, 5, 6]
<class 'tuple'>

In [ ]:
a=(1,2,3,4,1,2,3)
a.count(4) # this will give the no of occurance of 4
a.index(4) # this will give the first index of occurance of 4
len(a)
#these were the only methods available in tuple

7

In [32]:
c='abc'
print(id(c))
# new memory will be assigned
c=c+"d"
print(id(c))

140735250818328
2565420820176

In [36]:
numbers=(1,2,3,4,5)
result=[]

for i in numbers:
    result.append(i**2)
    
print(result)

# there is a better way of doing this
result=[i**2 for i in numbers] # this is called as list comprehension
# this can be done for dict and tuple as well
print(result)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [50]:
# key value pair - dictionary
a=dict({'a':123, 'b':456})
print(type(a))

b={'a':123, 'b':456}
print(type(b))

for key, value in a.items():
    print(key, value)

print(b.keys())
print(b.values())

<class 'dict'>
<class 'dict'>
a 123
b 456
dict_keys(['a', 'b'])
dict_values([123, 456])

In [48]:
# set is bag of unique values
a={1,2,3,4,1,2,3}
print(type(a))
print(a)

# list - []
# dict - {} - key-value pair
# set - {}
# tuple - ()

<class 'set'>
{1, 2, 3, 4}

In [58]:
a=(1,2,3)
print(5 in a) # this we can use with other data structure as well

a=([1,2],3,4,'str')
for i in a:
    print(i,type(i))
    
# in python inside a data structure we can have same as well as different data structure as well.

False
[1, 2] <class 'list'>
3 <class 'int'>
4 <class 'int'>
str <class 'str'>

In [61]:
a=((1,2),) # use with comma like this because python will treat ((1,2)) as (1,2)
print((1,2) in a)

True

In [66]:
record=('Amit',"India",True,123)
colours=['blue','red','green']

# in tuple, list and str order is important, because we can access based on index
print(['blue','red','green']==['blue','green','red']) 
print(['blue','red','green']==['blue','red','green'])

# in set and dict order is not important
print({1,2,3,2,3,2}=={1,2,3})
print({1,2,3}=={3,2,1})

False
True
True
True

In [72]:
c=['blue','red','green']
c[0]='yellow'
print(c)

c.extend(['black','white'])
c.append(['black','white'])
print(c)

['yellow', 'red', 'green']
['yellow', 'red', 'green', 'black', 'white', ['black', 'white']]

In [70]:
c=('blue','red','green')
c[0]='yellow' # this opertation is not possible in tuple
print(c)

TypeError: 'tuple' object does not support item assignment

In [75]:
item={
    'id':123,
    'price':19.80,
    'descirption':'book',
    'instock':True
}

print(item)
# in dictionary we can access the value using key 
# in dictionary id is unique and value can be duplicate
print(item['price'])

{'id': 123, 'price': 19.8, 'descirption': 'book', 'instock': True}
19.8

In [ ]:
# count the occurance of a word, take a word and sentence of your choice 
sentence="Hi Students , hope you are enjoying the python session Python is great these session will be very helpful this popular among Students"